/* This is an example of how to import a partial scss file*/
@import "_variables";

body {
  background: pink;
}

.dashboard-view {
  border: 1px solid salmon;
}

#db-tab-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid red;
}

.db-tab {
  border: 1px solid darkcyan;
}

.booking-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}
