/* This is an example of how to import a partial scss file*/
@import "_variables";
@import "~js-datepicker/src/datepicker";

@mixin column-center (){
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  background: pink;
}

.home-view{
  @include column-center();
  color:white;
  h1 {
    font-size: 50px;
    font-family: $hotel-name-font;
    font-weight: 100;
  }
  
  h2 {
    font-family: $subheader-font;
  }
}

#login-form {
  box-sizing: border-box;
    background-color:$form-bg;
    width: 200px;
    height: 260px;
    @include column-center();
    justify-content: flex-end;
    padding-bottom: 20px;
    border-radius: 5px;

    ::placeholder {
      color:$placeholder;
    }
    font-family: $login-form-font;
    font-weight: 200;
}

  #username-input,#password-input, #login-btn{
    box-sizing: border-box;
    width: 150px;
    height: 25px;
    margin: 10px 0;
    padding: 5px;
    border: none;
    border-radius: 2px;
    outline:none;
    background-color:$login-input-bg;
    color:$login-input-text;
    font-family: $login-form-font;
    font-weight: 400;
  }
  
  
  #login-btn {
    background-color: $login-btn-bg;
    cursor: pointer;
    color:$form-bg;
  }

  #errorMsg-login{
    color:firebrick;
    text-align: center;
  }


#bg-video {
  position: fixed;
  left: 0;
  top:0;
  max-width: 100%;
  z-index: -100;
}



.dashboard-view {
  border: 1px solid salmon;
}

#db-tab-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid red;
}

.db-tab {
  border: 1px solid darkcyan;
}

.my-booking-display,
.avail-rooms-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.room-card {
  border: 1px solid blue;
}

.hidden {
  display: none;
}
